<div style="width: 90%; margin-right: auto; margin-left: auto; margin-top: 2%">
  <section class="post-detail">
    <h2 style="color: #0f5132" class="post-title">Chia sẻ 9 kinh nghiệm học tiếng Trung cho người mới bắt đầu cực hay</h2>
    <div class="image-feature"><img style="width: 50%;"
      src="https://newshop.vn/public/uploads/news/chia-se-9-kinh-nghiem-hoc-tieng-trung-cho-nguoi-moi-bat-dau-cuc-hay-min.jpg"
      alt="Chia sẻ 9 kinh nghiệm học tiếng Trung cho người mới bắt đầu cực hay"></div>
    <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
      <div class="panel panel-default">
        <div role="tab" id="headingOne" class="panel-heading">
          <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                     href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Nội dung bài viết
            <small>[Ẩn/Hiện]</small></a></h4>
        </div>
        <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="toc-wrap">
              <ul>
                <li class="first"><a
                  href="#tieng-trung-duoc-chia-thanh-hai-dang-phon-the-va-gian-the">Tiếng Trung
                  được chia thành hai dạng: Phồn thể và Giản thể</a>
                  <ul class="menu_level_1">
                    <li class="first"><a href="#gian-the">Giản thể</a></li>
                    <li class="last"><a href="#phon-the">Phồn thể</a></li>
                  </ul>
                </li>
                <li><a href="#nhung-van-de-co-the-gap-phai-khi-hoc-tieng-trung">Những vấn đề có thể gặp
                  phải khi học tiếng Trung</a>
                  <ul class="menu_level_1">
                    <li class="first"><a href="#su-dung-chu-viet-tuong-hinh">Sử dụng chữ viết tượng
                      hình</a></li>
                    <li><a href="#luyen-nghe-sai-cach">Luyện nghe sai cách&nbsp;</a></li>
                    <li><a href="#phat-am-kha-phuc-tap">Phát âm khá phức tạp</a></li>
                    <li><a href="#kho-nhan-dang-ve-mat-chu-viet">Khó nhận dạng về mặt chữ viết</a>
                    </li>
                    <li class="last"><a href="#hay-chan-nan-bo-cuoc">Hay chán nản, bỏ cuộc</a></li>
                  </ul>
                </li>
                <li class="last"><a href="#cac-phuong-phap-hoc-tieng-trung">Các phương pháp học tiếng
                  Trung&nbsp;</a>
                  <ul class="menu_level_1">
                    <li class="first"><a href="#xac-dinh-muc-tieu-hoc-tieng-trung">Xác định mục tiêu
                      học tiếng Trung&nbsp;</a></li>
                    <li><a href="#bat-dau-tu-don-gian-nhat">Bắt đầu từ đơn giản nhất</a></li>
                    <li><a href="#tap-viet-cac-tu-tieng-trung">Tập viết các từ tiếng Trung</a></li>
                    <li><a href="#hoc-nghe-noi-dich-lien-tuc">Học nghe- nói- dịch liên tục</a></li>
                    <li class="last"><a href="#luyen-tap-hang-ngay">Luyện tập hằng ngày</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post-content">
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Tiếng Trung đang
                        trở thành một ngôn ngữ phổ biến do số người dân sử dụng nó trên thế giới với số lượng lớn. Đồng
                        thời đó, hiện nay, các doanh nghiệp lớn của Trung Quốc đang đầu tư khá nhiều ở Việt Nam và tạo
                        ra thu nhập cho người Việt .<br><br>
                        Vì thế, ngày nay biết tiếng Trung sẽ giúp cho bạn có được một lợi thế khi cạnh tranh cho một vị
                        trí quan trọng nào đó và có thể đáp ứng nhu cầu làm việc cùng với cơ hội thăng tiến trong công
                        việc.&nbsp;<br><br>
                        Hãy theo dõi bài viết này để bạn có thể nhận được những chia sẻ về một số <em><strong>phương
                                pháp để học tiếng Trung</strong></em> tốt và dễ dàng nhất giúp bạn đạt được những mục
                        tiêu của bản thân.</span></span></p>
      <h2 id="tieng-trung-duoc-chia-thanh-hai-dang-phon-the-va-gian-the"><span
        style="color: rgb(0, 0, 205);"><span style="font-family: arial, helvetica, sans-serif;"><span
        style="font-size: 16px;"><strong>Tiếng Trung được chia thành hai dạng: Phồn thể và Giản
                                thể</strong></span></span></span></h2>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Trước khi lựa
                        chọn học tiến Trung ta cần làm rõ về hai dạng: Phồn Thể và Giản Thể.<br><br>
                        Tiếng Trung Phồn thể và Giản thể là hai bộ chữ in chính thức của Trung Quốc và là cách viết,
                        không bao gồm cách phát âm.<br><br>
                        Phát âm thì chia 2 loại là: Tiếng Trung Quốc tiêu chuẩn (đại loại là tiếng Bắc Kinh hay tiếng
                        Quan Thoại) và tiếng Trung địa phương (tiếng Đài Loan, tiếng Quảng Đông, tiếng Ngô: là tiếng
                        Thượng Hải…).</span></span></p>
      <h3 id="gian-the"><span style="color: rgb(0, 0, 255);"><span style="font-size: 14px;"><span
        style="font-family: arial, helvetica, sans-serif;"><strong>Giản
                                thể</strong></span></span></span></h3>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Giản thể đang là
                        tiếng phổ thông của Trung Quốc và đây là ngôn ngữ chính thức ở Singapore và Trung Quốc đại lục.
                        Vậy nếu bạn cần du học Trung Quốc hay muốn làm ở những công ty do người Trung Quốc làm chủ thì
                        nên chọn học tiếng Trung giản thể nhé.<br><br>
                        Chữ Giản Thể thường dễ học, dễ nhớ; thuận tiện trong việc in ấn; khi đọc trên màn hình PC,
                        laptop không bị hoa mắt hay mỏi mắt. Viết tay chữ Giản Thể có tốc độ nhanh hơn nhiều so với chữ
                        Phồn Thể</span></span><br>
        &nbsp;</p>
      <p style="text-align: center;"><span style="font-size: 14px;"><span
        style="font-family: arial, helvetica, sans-serif;"><img alt=""
                                                                src="https://newshop.vn/public/uploads/content/Untitled-1-min.jpg"
                                                                style="width: 50%;"></span></span><br>
        &nbsp;</p>
      <h3 id="phon-the"><span style="color: rgb(0, 0, 255);"><span
        style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;"><strong>Phồn
                                thể</strong></span></span></span></h3>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Loại Phồn Thể là
                        chữ truyền thống, sẽ giúp bạn hiểu sâu xa ý nghĩa của tiếng Trung hơn. Do đó, nếu bạn muốn tìm
                        hiểu về văn hóa, lịch sử Trung Quốc thì nên học Phồn Thể. Ngoài ra, đây là ngôn ngữ phổ biến của
                        Đài Loan, Hồng Kông, Macao hiện nay. Nếu bạn cần đi xuất khẩu lao động tới Đài Loan thì nên học
                        phồn thể nhé.<br><br>
                        Chữ Phồn Thể là loại chữ rất đẹp - thường được coi là tinh hoa của văn minh Trung Quốc hay là
                        đối tượng để thể hiện nghệ thuật trong thư pháp. Học chữ Phồn Thể ngoài việc học thuộc hình của
                        chữ còn học được cả ý nghĩa thâm sâu và cái đạo mà người xưa truyền lại, tất cả nằm ở con chữ.
                        Chữ Phồn Thể rất khó học, nhưng một khi đã học thuộc rồi thì nhớ rất sâu và rất
                        lâu</span></span></p>
      <h2 id="nhung-van-de-co-the-gap-phai-khi-hoc-tieng-trung"><span style="color: rgb(0, 0, 205);"><span
        style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 16px;"><strong>Những
                                vấn đề có thể gặp phải khi học tiếng Trung</strong></span></span></span></h2>
      <h3 id="su-dung-chu-viet-tuong-hinh"><span style="color: rgb(0, 0, 255);"><span
        style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;"><strong>Sử
                                dụng chữ viết tượng hình</strong></span></span></span></h3>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Vì tiếng Trung là
                        bộ tượng hình với ước tính khoảng 50000 ký tự, không sử dụng bảng chữ cái alphabet như tiếng
                        Việt chỉ có 29 ký tự đơn giản nên. Để có thể đọc hiểu một tờ báo bạn cần biết khoảng 2000 ký tự
                        và khoảng 8000 ký tự để có thể hiểu được một cuốn sách&nbsp;<br><br>
                        Khi <em><strong>học tiếng Trung</strong></em>, ta cần có khoảng thời gian dài để ghi nhớ các quy
                        tắc ghép nối các nét để tạo thành 1 chữ, vì vậy đã gây ra nhiều sự khó khăn cho người
                        học.</span></span></p>
      <h3 id="luyen-nghe-sai-cach"><span style="color: rgb(0, 0, 255);"><span style="font-size: 14px;"><span
        style="font-family: arial, helvetica, sans-serif;"><strong>Luyện nghe sai
                                cách&nbsp;</strong></span></span></span></h3>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Tiếng Trung không
                        giống với tiếng Anh, nếu bạn áp dụng phương pháp nghe thụ động của tiếng Anh cho tiếng Trung thì
                        sẽ thật khó cho bạn để có thể nghe nó. Tiếng Trung cần bạn phải nghe từng từ một, rồi sau đó đến
                        những cụm đơn giản, tiếp đến là những câu văn.</span></span><br>
        &nbsp;</p>
      <p style="text-align: center;"><img alt=""
                                          src="https://newshop.vn/public/uploads/content/listen-1568101373-4765-1568101465-min.png"
                                          style="width: 50%;"></p>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;"><br>
                        Bạn phải chọn lọc bài nghe với tiếng phổ thông để có thể nghe dễ hơn, vì những bài nghe bằng
                        tiếng địa phương sẽ gây nhầm lẫn khá nhiều cho những người biết khá ít về tiếng
                        Trung.<br><br><em><strong>Học tiếng Trung</strong></em> lúc đầu sẽ rất khó khăn, nhưng đến khi
                        bạn nghe được nhiều các kí tự sẽ dần trở nên đơn giản.</span></span></p>
      <h3 id="phat-am-kha-phuc-tap"><span style="color: rgb(0, 0, 255);"><span style="font-size: 14px;"><span
        style="font-family: arial, helvetica, sans-serif;"><strong>Phát âm khá phức
                                tạp</strong></span></span></span></h3>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Trong tiếng Trung
                        có nhiều âm rất phức tạp, nó cứ giống nhau về mặt phát âm, vì thế khi bạn mắc một lỗi nhỏ về
                        phát âm, thì sẽ gây cho người nghe hiểu sai về nghĩa.<br><br>
                        Tiếng Trung sử dụng bốn âm tiết phải được sử dụng chính xác, tránh tình trạng đổi câu. Nhưng bốn
                        thanh điệu này phát âm hoàn toàn khác nhau và rất khó phát âm chuẩn bởi nó có cao độ không giống
                        nhau và quy tắc thay đổi phức tạp và đặc biệt là chúng ta rất hay dễ bị nhầm âm một và âm
                        bốn</span></span></p>
      <h3 id="kho-nhan-dang-ve-mat-chu-viet"><span style="color: rgb(0, 0, 255);"><span
        style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;"><strong>Khó
                                nhận dạng về mặt chữ viết</strong></span></span></span></h3>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Cái khó của tiếng
                        Trung là bạn không thể nhận dạng dễ cách phát âm dễ dàng khi nhìn vào một ký tự, như bạn học
                        tiếng Anh. Bạn cũng sẽ khó khăn trong việc sử dụng từ điển nếu bạn không biết các ký tự viết
                        trông như thế nào.<br><br>
                        Điều này sẽ thay đổi nếu bạn biết được nhiều ký tự và các quy tắc ghép tạo thành các chữ, mẫu
                        câu được sử dụng trong khi viết.</span></span></p>
      <h3 id="hay-chan-nan-bo-cuoc"><span style="color: rgb(0, 0, 255);"><strong><span
        style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Hay chán
                                nản, bỏ cuộc</span></span></strong></span></h3>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Có rất nhiều
                        người trở nên chán nản với thứ ngôn ngữ tượng hình này khi học được một thời gian nhất
                        định.<br><br>
                        Ban đầu thì ta hứng thú với việc học hơn trăm từ vựng với những nét nghĩa đơn giản dễ học nhưng
                        càng học sâu thì không những đòi hỏi bạn phải nâng cao vốn từ vựng nhớ nhiều từ hơn, gặp nhiều
                        từ nhiều nét hơn.<br><br><span open="open"></span></span></span></p>

      <p></p>
      <h2 id="cac-phuong-phap-hoc-tieng-trung"><span style="color: rgb(0, 0, 205);"><strong><span
        style="font-size: 16px;"><span style="font-family: arial, helvetica, sans-serif;">Các phương
                                pháp học tiếng Trung&nbsp;</span></span></strong></span></h2>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Theo một thống kê
                        của The Telegraph, tiếng Trung là ngôn ngữ xếp hạng 1 trong số 10 ngôn ngữ khó học nhất thế
                        giới. Thế nhưng, người Việt chúng ta cũng có một số lợi thế nhất định khi học tiếng Trung vì một
                        số điểm tương đồng trong phát âm và văn hóa.<br><br>
                        Trung Quốc có một văn phạm tương đối đơn giản. Không giống như tiếng Pháp, tiếng Đức hoặc tiếng
                        Anh, Trung Quốc không có chia động từ (không cần phải ghi nhớ các thì động từ) Và không có danh
                        từ biến cách (ví dụ, sự phân biệt giới tính và số lượng).</span></span></p>
      <h3 id="xac-dinh-muc-tieu-hoc-tieng-trung"><span style="color: rgb(0, 0, 255);"><span
        style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;"><strong>Xác
                                định mục tiêu học tiếng Trung&nbsp;</strong></span></span></span></h3>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Việc xác định mục
                        tiêu học tiếng Trung quốc đóng vai trò rất quan trọng trong quá trình học. Mục tiêu<em><strong>
                                học tiếng Trung</strong></em> giúp bạn chọn ra những phương pháp học tập phù hợp với bản
                        thân. Việc đề ra mục tiêu học tiếng Trung phải bao gồm mục tiêu dài hạn và mục tiêu ngắn
                        hạn.&nbsp;<br><br>
                        Mục tiêu dài hạn chính là mục đích cuối cùng mà các bạn hướng đến. Đó là cả một quá trình dài
                        phấn đấu mà cái cuối cùng bạn phải đạt được. Mục tiêu ngắn hạn là những dự định mà bản thân bạn
                        muốn đạt được trong từng khoảng thời gian nhất định. Với từng giai đoạn bạn sẽ có những mục tiêu
                        nhỏ. Như vậy, bạn hoàn toàn dễ dàng khi đạt được mục đích của mình.</span></span></p>
      <h3 id="bat-dau-tu-don-gian-nhat"><span style="color: rgb(0, 0, 255);"><strong><span
        style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;">Bắt đầu từ
                                đơn giản nhất</span></span></strong></span></h3>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Tiếng Trung là
                        một ngôn ngữ khó nên nếu <em><strong>phương pháp học tập</strong></em> của bạn không phù hợp thì
                        rất dễ dẫn đến chán nản. Lời khuyên cho những người mới bắt đầu học tiếng Trung, đặc biệt khi tự
                        học là hãy bắt đầu với những gì đơn giản nhất.<br><br>
                        Hãy bắt đầu học tiếng Trung bằng những gì bạn thích, đừng ép buộc bản thân trong thời gian đầu
                        để có thể thích nghi dần được với loại ngôn ngữ mới&nbsp;<br><br>
                        Bạn có thể tham khảo những cuốn <em><strong>sách cho người mới bắt đầu học tiếng
                                Trung</strong></em>, những giáo trình căn bản, ngữ pháp và từ vựng cơ bản trước khi đi
                        đến những thứ khó hơn. Khi không tạo áp lực quá lớn cho mình ở phút bạn đầu thì tâm lý của bạn
                        cũng sẽ thoải mái hơn cho những bài học về sau.<br><br><span open="open"></span></span></span>
      </p>

      <p></p>
      <h3 id="tap-viet-cac-tu-tieng-trung"><span style="color: rgb(0, 0, 255);"><strong><span
        style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Tập viết
                                các từ tiếng Trung</span></span></strong></span></h3>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Tiếng Trung là
                        một ngôn ngữ tượng hình, để có thể biết về cách viết cũng như nhớ được mặt chữ, bạn hãy dành
                        thời gian luyện viết trước khi học các cấu trúc ngữ pháp chính là phương pháp học hiệu quả
                        nhất.<br><br>
                        Trong tiếng Trung gồm 8 nét cơ bản và 8 quy tắc chính. Để học viết tiếng Trung nhanh thì bắt
                        buộc phải nắm được các quy tắc đó</span></span><br>
        &nbsp;</p>
      <p style="text-align: center;"><img alt="" src="https://newshop.vn/public/uploads/content/Untitled-4-min.jpg"
                                          style="width: 50%;"></p>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;"><br>
                        Đầu tiên, cần luyện viết 8 nét cơ bản cùng 8 quy tắc chính. Sau đó học 50 bộ thủ cơ bản hay dùng
                        hoặc 214 bộ thủ đầy đủ. Khi học từ mới thì tra từ điển cách viết, viết đi viết lại thật nhiều
                        lần.<br><br>
                        Đối với tiếng Trung, bạn không cần thiết phải thuộc tất cả 214 bộ thủ, nhưng nên tập viết tất cả
                        chúng, điều này sẽ giúp bạn thuộc một số bộ căn bản, thường dùng, cũng như làm quen với các bộ
                        còn lại</span></span></p>
      <h3 id="hoc-nghe-noi-dich-lien-tuc"><span style="color: rgb(0, 0, 255);"><span
        style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;"><strong>Học
                                nghe- nói- dịch liên tục</strong></span></span></span></h3>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;"><em>&nbsp;- Học
                            qua phim,bài hát</em><br><br>
                        Những bài hát tiếng Trung, những bộ phim của Trung Quốc xuất hiện khá nhiều trên TV hay internet
                        hoặc có thể đôi lúc bắt gặp một người nói tiếng Trung bên ngoài, hãy tranh thủ học bằng cách cố
                        gắng nghe những gì họ nói.<br><br>
                        &nbsp;<em>- Học với người bản ngữ</em><br><br>
                        Khi <em><strong>học tiếng Trung,</strong></em> nhiều người cảm thấy quá sức vì sách vở quá
                        nhiều, kiến thức thì bao la nhưng đến khi thực hành giao tiếp thì đôi khi không thể nói chuyện
                        được.Thay vì cứ ngồi trong phòng ôm sách học thì sao không ra ngoài và mạnh dạn bắt chuyện với
                        một người bản xứ hoặc một người nói tiếng Trung.</span></span><br>
        &nbsp;</p>
      <p style="text-align: center;"><img alt="" src="https://newshop.vn/public/uploads/content/Untitled-3-min.jpg"
                                          style="width: 50%;"></p>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;"><br>
                        Những tình huống nói chuyện thực tế không phải lúc nào cũng như in trong giáo trình nên hãy cứ
                        thoải mái và nói chuyện với tình thần học hỏi, có khi bạn sẽ học được nhiều hơn bình thường rất
                        nhiều.<br><br>
                        Vấn đề này tương đối khó khăn, để tìm một người bản xứ nói chuyện không phải dễ dàng. Vậy, làm
                        cách nào để nói tiếng Trung trôi chảy? Các bạn nên đăng ký 1 tài khoản Wechat. Sau đó vào làm
                        quen mấy bạn người Trung. Với cộng đồng 1 tỷ người dùng, đây là ứng dụng tốt nhất để bạn làm
                        quen với tiếng Trung.<br><br><em>&nbsp;- Học một cách trực quan sinh động</em><br><br>
                        Dùng tranh ảnh, flashcard, video, phần mềm dạy viết chữ, giải thích bộ thủ, ghép chữ Hán Việt…
                        kết hợp với phương pháp ứng dụng siêu trí nhớ, giúp người học nắm rõ các mẹo nhớ từ vựng và chữ
                        Hán mà không tốn nhiều thời gian và công sức.</span></span><br>
        &nbsp;</p>
      <p style="text-align: center;"><img alt="" src="https://newshop.vn/public/uploads/content/Untitled-2-min.jpg"
                                          style="width: 50%;"></p>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;"><br>
                        Có thể ban đầu bạn chưa hiểu hết những gì đang nghe, nhưng với người mới bắt đầu học tiếng
                        Trung, nghe không chỉ để hiểu họ nói gì mà còn để nghe cách phát âm, khẩu hình và ngữ điệu của
                        họ khi nói chuyện. Để ý những chi tiết nhỏ này và tập tành nói theo thường xuyên sẽ ảnh hưởng
                        rất lớn đến khả năng nói của bạn sau này, có được tự nhiên không đấy!</span></span></p>
      <h3 id="luyen-tap-hang-ngay"><span style="color: rgb(0, 0, 255);"><strong><span
        style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Luyện tập
                                hằng ngày</span></span></strong></span></h3>
      <p><span style="font-size: 14px;"><span style="font-family: arial, helvetica, sans-serif;">Học bất cứ gì mới
                        mẻ, không rèn luyện mỗi ngày sẽ chỉ có thể đứng yên một chỗ.Đối với việc học ngoại ngữ, mọi thứ
                        sẽ trở về phút bạn đầu nếu không luyện tập thường xuyên và đều đặn.<br><br>
                        Hãy dành thời gian mỗi ngày một khoảng thời gian để có thể luyện tập các kĩ năng, các từ vựng
                        mới, đặt mục tiêu hôm nay sẽ nghe bao nhiêu bài hát, học bao nhiêu từ vựng. Bạn sẽ thấy sự khác
                        biệt rất lớn sau những ngày luyện tập.<br><br><strong>Trên đây là những phương pháp học tiếng
                            Trung giúp bạn có sự phấn khởi hơn khi học tiếng Trung. Hy vọng những phương pháp này sẽ
                            đồng hành với bạn trong quá trình học ngôn ngữ Trung này.</strong></span></span><br>
        &nbsp;</p>
    </div>
    <div class="share-social">
      <div data-href="https://newshop.vn/tin-tuc/chia-se-9-kinh-nghiem-hoc-tieng-trung-cho-nguoi-moi-bat-dau-cuc-hay-id877.html"
           data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"
           class="fb-like fb_iframe_widget" fb-xfbml-state="rendered"
           fb-iframe-plugin-query="action=like&amp;app_id=1188940431129719&amp;container_width=0&amp;href=https%3A%2F%2Fnewshop.vn%2Ftin-tuc%2Fchia-se-9-kinh-nghiem-hoc-tieng-trung-cho-nguoi-moi-bat-dau-cuc-hay-id877.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=true">
                <span style="vertical-align: bottom; width: 90px; height: 28px;"><iframe name="f3728902ee11b"
                                                                                         width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin"
                                                                                         title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true"
                                                                                         allowfullscreen="true" scrolling="no" allow="encrypted-media"
                                                                                         src="https://www.facebook.com/v2.8/plugins/like.php?action=like&amp;app_id=1188940431129719&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df12da569aa06%26domain%3Dnewshop.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fnewshop.vn%252Ff1d587b965731%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fnewshop.vn%2Ftin-tuc%2Fchia-se-9-kinh-nghiem-hoc-tieng-trung-cho-nguoi-moi-bat-dau-cuc-hay-id877.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=true"
                                                                                         style="border: none; visibility: visible; width: 90px; height: 28px;" class=""></iframe></span>
      </div>

    </div>
    <hr>
  </section>
</div>
