<!--<mat-card class="mt-20 my-card">-->
<!--  <h1>Thông tin cá nhân</h1>-->
<!--  <mat-card-content>-->
<!--    <div class="container">-->
<!--      <div class="container text-center">-->
<!--        <img-->
<!--          class="profile-image"-->
<!--          src="{{user&&!user.avatar?'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYpR4DvujRhJleInDuoohGQ-nthBJNBrYiHA&usqp=CAU':user.avatar}}"-->
<!--          alt=""-->
<!--        />-->
<!--        <h1 class="mt-20">{{user.username}}</h1>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="col-md-10 offset-md-1">-->
<!--          <table class="table table-hover text-center">-->
<!--              <tbody>-->
<!--                   <tr>-->
<!--              <td>Tên</td>-->
<!--              <td>{{user.fistname}}</td>-->
<!--            </tr>-->
<!--            &lt;!&ndash; <tr>-->
<!--              <td>UserID</td>-->
<!--              <td>{{user.id}}</td>-->
<!--            </tr> &ndash;&gt;-->
<!--            <tr>-->
<!--              <td>Email</td>-->
<!--              <td>{{user.email}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>Phone</td>-->
<!--              <td>{{user.phone}}</td>-->
<!--            </tr>-->
<!--            &lt;!&ndash; <tr>-->
<!--              <td>Role</td>-->
<!--              <td>{{user.roles[0].roleName}}</td>-->
<!--            </tr> &ndash;&gt;-->
<!--            <tr>-->
<!--                <td>Trạng thái</td>-->
<!--                <td>{{user.enable?"Đang hoạt động":"Đã khoá"}}</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Cập nhật Avatar</td>-->
<!--                <td><button mat-raised-button color="primary" (click)="csvInput.click()">Chọn Avatar</button><input (change)="setAvatar($event)" #csvInput hidden type="file"></td>-->
<!--              </tr>-->
<!--              </tbody>-->

<!--          </table>-->
<!--          <mat-card-actions class="text-center">-->
<!--            <button mat-raised-button (click)="updateAvatar()"  color="accent" >Cập nhật Avatar</button>-->
<!--            &lt;!&ndash; <button mat-raised-button color="accent" >SHARE</button> &ndash;&gt;-->
<!--          </mat-card-actions>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->
<div style="width: 90%; margin-left: auto; margin-right: auto;" class="row align-content-center">
  <div class="col-md-12">
    <ul class="nav nav-pills flex-column flex-md-row mb-3">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i>Thông tin cá nhân</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="pages-account-settings-notifications.html"-->
<!--        ><i class="bx bx-bell me-1"></i> Notifications</a-->
<!--        >-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="pages-account-settings-connections.html"-->
<!--        ><i class="bx bx-link-alt me-1"></i> Connections</a-->
<!--        >-->
<!--      </li>-->
    </ul>
    <div class="card mb-4">
      <h5 class="card-header">Chi tiết hồ sơ</h5>
      <!-- Account -->
      <div class="card-body">
        <div class="d-flex align-items-start align-items-sm-center gap-4">
          <img
                    src="{{user&&!user.avatar?'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYpR4DvujRhJleInDuoohGQ-nthBJNBrYiHA&usqp=CAU':user.avatar}}"
            alt="user-avatar"
            class="d-block rounded"
            height="100"
            width="100"
            id="uploadedAvatar"
          />
          <div class="button-wrapper">
            <label class="btn btn-primary me-2 mb-4" tabindex="0">
<!--              <span  class="d-none d-sm-block">Upload new photo</span>-->
<!--              <i class="bx bx-upload d-block d-sm-none"></i>-->
<!--              <button (click)="csvInput.click()">-->
<!--              </button>-->
<!--              <input-->
<!--                (change)="setAvatar($event)"-->
<!--                #csvInput-->
<!--                type="file"-->
<!--                class="account-file-input"-->
<!--                accept="image/png, image/jpeg"-->
<!--                hidden-->
<!--              />-->
              <button   class="btn btn-primary me-2" (click)="csvInput.click()"><span class="d-none d-sm-block">Cập nhật Avatar</span></button><input class="account-file-input" (change)="setAvatar($event)" #csvInput hidden type="file">
            </label>
            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
              <i class="bx bx-reset d-block d-sm-none"></i>
              <span class="d-none d-sm-block">Reset</span>
            </button>

            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
          </div>
        </div>
      </div>
      <hr class="my-0" />
      <div class="card-body">
        <form #myForm="ngForm" (ngSubmit)="updateUser()">
          <div class="row">
            <div class="mb-3 col-md-6">
              <label class="form-label">First Name</label>
              <input
                [(ngModel)]="user.firstname"
                class="form-control"
                type="text"
                name="firstname"
                matInput
                required
              />
            </div>
            <div class="mb-3 col-md-6">
              <label for="lastname" class="form-label">Last Name</label>
              <input
                [(ngModel)]="user.lastname"
                class="form-control"
                type="text"
                id="lastname"
                name="lastname"
              />
            </div>
            <div class="mb-3 col-md-6">
              <label for="username" class="form-label">User Name</label>
              <input
                [(ngModel)]="user.username"
                class="form-control"
                type="text"
                id="username"
                name="lastname"
              />
            </div>

            <div class="mb-3 col-md-6">
              <label for="email" class="form-label">E-mail</label>
              <input
                [(ngModel)]="user.email"
                class="form-control"
                type="email"
                id="email"
                name="email"
              />
            </div>
          </div>
          <div class="mt-2">
            <button type="submit" class="btn btn-primary me-2">Lưu các thay đổi</button>
            <button type="reset" class="btn btn-outline-secondary">Hủy bỏ</button>
          </div>
        </form>
      </div>
      <!-- /Account -->
    </div>

  </div>
</div>
